@charset "UTF-8";
/* COMPASS
 * ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE
 * ----------------------------------------------- */
/* MEDIA QUERIES
 * ----------------------------------------------- */
/* ADDITIONAL RESET
 * ----------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
  line-height: 1;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
body {
  color: #000;
  font-family: "游ゴシック", YuGothic, "Yu Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* HELPERS
 * ----------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.container {
  overflow: hidden;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  .wrapper {
    max-width: 1150px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .sm {
    display: none !important;
  }

  html {
    font-size: calc(100vw / 133.6);
  }

  .trans {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    transition: opacity 0.26s ease;
  }
  .trans:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
  }
}
@media only screen and (max-width: 767px) {
  .md {
    display: none !important;
  }

  html {
    font-size: calc(100vw / 3.75);
  }

  body {
    font-size: 0.14rem;
  }

  .container {
    width: auto;
  }

  .wrapper {
    width: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
/* PARTS
 * ----------------------------------------------- */
header {
  position: relative;
}
header .header-logo a {
  display: block;
}
header .header-logo img {
  width: 100%;
  height: auto;
}
header .list-index {
  display: -webkit-flex;
  display: flex;
}
header .list-index a {
  display: block;
  cursor: pointer;
  position: relative;
}
header .list-index a .is-black,
header .list-index a .is-pink {
  position: absolute;
  left: 0;
  bottom: 0;
}
header .list-index a .is-black {
  transition: opacity 0.3s;
}
header .list-index a .is-pink {
  opacity: 0;
  transition: opacity 0.3s;
}
header .list-index a img {
  width: auto;
  height: 100%;
}
header .list-index .cart-icon {
  position: relative;
}
header .list-index .cart-icon:after {
  content: "2";
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #ffdd00;
  border-radius: 50%;
  position: absolute;
  font-weight: 500;
  color: #363636;
}
header .form-search {
  position: relative;
}
header .input-search {
  background-color: rgba(246, 246, 246, 0.2);
  border: 1px solid rgba(204, 204, 204, 0.22);
  border-radius: 50px;
  font-weight: 500;
  color: #525263;
}
header .button-search {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header .button-search {
    top: 47%;
  }
}
header .button-search img {
  display: block;
  color: #363636;
}
header .nav-menu {
  display: -webkit-flex;
  display: flex;
}
header .nav-menu a {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media print, (min-width: 768px) {
  header .wrapper {
    padding-top: 30px;
  }
  header .wrapper-up {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  header .header-logo {
    -webkit-order: 2;
    order: 2;
    margin-top: 6px;
  }
  header .header-logo a {
    width: 152px;
  }
  header .list-index {
    -webkit-order: 3;
    order: 3;
    margin: 9px 10px 0 62px;
  }
  header .list-index a {
    height: 18px;
    width: 20px;
  }
  header .list-index a:hover .is-black {
    opacity: 0;
  }
  header .list-index a:hover .is-pink {
    opacity: 1;
  }
  header .list-index .cart-icon:after {
    width: 18px;
    height: 18px;
    top: -8px;
    right: -10px;
    font-size: 12px;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), print and (-ms-high-contrast: active), (min-width: 768px) and (-ms-high-contrast: active) {
  header .list-index .cart-icon:after {
    padding-top: 4px;
  }
}
@media print, (min-width: 768px) {
  header .list-index li {
    margin-left: 27px;
  }
  header .form-search {
    -webkit-order: 1;
    order: 1;
  }
  header .input-search {
    width: 260px;
    padding: 7px 35px 7px 20px;
    font-size: 12px;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), print and (-ms-high-contrast: active), (min-width: 768px) and (-ms-high-contrast: active) {
  header .input-search {
    padding: 9px 35px 5px 35px;
  }
}
@media print, (min-width: 768px) {
  header .button-search {
    width: 16px;
    right: 15px;
  }
  header .header-nav {
    max-width: 494px;
    margin: 42px auto 27px;
  }
  header .nav-menu {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
@supports (-moz-appearance: none) {
  header .input-search {
    padding: 9px 35px 9px 20px;
  }
  header .button-search {
    top: 43%;
  }
}
@media only screen and (max-width: 767px) {
  header .wrapper {
    padding: 0.3rem 0.2rem;
  }
  header .wrapper-up {
    position: relative;
    z-index: 999;
  }
  header .header-logo a {
    width: 1.52rem;
  }
  header .list-index {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  header .list-index a {
    height: 0.18rem;
    width: 0.2rem;
  }
  header .list-index .cart-icon:after {
    width: 0.18rem;
    height: 0.18rem;
    top: -0.08rem;
    right: -0.1rem;
    font-size: 0.12rem;
  }
  header .list-index li {
    margin: 0 0.16rem;
  }
  header .button-menu {
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    margin-top: -0.34rem;
    right: 0;
  }
  header .button-menu span {
    width: 0.32rem;
    height: 0.02rem;
    background: #000;
    position: absolute;
    -moz-transition: -moz-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    -webkit-transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
  }
  header .button-menu span:first-child {
    top: 0.05rem;
  }
  header .button-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .button-menu span:last-child {
    bottom: 0.05rem;
  }
  header .input-search {
    width: 100%;
    padding: 0.07rem 0.35rem 0.07rem 0.2rem;
    font-size: 0.12rem;
  }
  header .button-search {
    width: 0.16rem;
    right: 0.11rem;
  }
  header .form-search {
    width: 100%;
    margin: 0.2rem 0;
  }
  header .header-nav {
    display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    padding: 1.8rem 0.2rem 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
  }
  header .nav-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .nav-menu a {
    padding: 0.2rem 0;
    font-size: 0.16rem;
  }
  header .nav-menu .nav-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  header.is-active .button-menu span:first-child {
    top: 50%;
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  header.is-active .button-menu span:nth-child(2) {
    -moz-transform: translate3d(15px, -3px, 0);
    -ms-transform: translate3d(15px, -3px, 0);
    -webkit-transform: translate3d(15px, -3px, 0);
    transform: translate3d(15px, -3px, 0);
    opacity: 0;
  }
  header.is-active .button-menu span:last-child {
    top: 50%;
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
  header.is-active .header-nav {
    display: block;
  }
}
footer {
  background: #000;
  font-weight: 500;
  color: #fff;
}
footer .list-footer {
  display: -webkit-flex;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}
footer .list-footer a {
  color: #fff;
  font-weight: 500;
}
footer .wrapper-footer {
  text-align: center;
}
footer .footer-logo {
  display: inline-block;
}
footer .footer-logo img {
  width: 100%;
  height: auto;
}
footer .information-contact {
  text-align: center;
  line-height: 1.714;
}
footer .information-contact a {
  display: inline-block;
  color: #fff;
}
footer .social-media {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
footer .social-media li {
  margin: 0 10px;
}
footer .social-media a {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #727272;
  border-radius: 50%;
}
footer .social-media a:hover.is-facebook {
  background-color: #4267b2;
}
footer .social-media a:hover.is-pinterest {
  background-color: #c8232c;
}
footer .social-media a:hover.is-instagram {
  background-color: #e1306c;
}
footer .social-media a:hover.is-google {
  background-color: #d34836;
}
footer .image-social img {
  width: 100%;
  height: auto;
}
footer .text-copyright {
  display: inherit;
  text-align: center;
  color: #727272;
}

@media print, (min-width: 768px) {
  footer {
    font-size: 14px;
  }
  footer .wrapper {
    padding-top: 53px;
    padding-bottom: 53px;
  }
  footer .list-footer {
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 700px;
  }
  footer .list-footer li {
    margin: 0 20px;
  }
  footer .list-footer a {
    text-decoration: underline;
    font-size: 14px;
  }
  footer .footer-logo {
    width: 136px;
    margin: 44px auto 29px;
  }
  footer .information-contact a {
    pointer-events: none;
  }
  footer .social-media {
    margin: 61px 0 28px;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    font-size: 0.14rem;
  }
  footer .wrapper {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  footer .list-footer {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .list-footer li {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  footer .list-footer a {
    display: block;
    padding: 0.2rem 0;
    font-size: 0.14rem;
  }
  footer .footer-logo {
    width: 1.36rem;
    margin: 0.5rem auto 0.1rem;
  }
  footer .social-media {
    margin: 0.3rem 0 0.2rem;
  }
}
.section-title {
  text-align: center;
}
.section-title span {
  display: block;
}
.section-title .is-japan {
  font-weight: 500;
}
.section-title .is-english {
  font-weight: bold;
}

@media print, (min-width: 768px) {
  .section-title .is-english {
    font-size: 26px;
    letter-spacing: 0.2em;
  }
}
@media only screen and (max-width: 767px) {
  .section-title .is-english {
    font-size: 0.24rem;
    letter-spacing: 0.1em;
  }
}
.item-product {
  display: block;
}
.item-product .product-information .product-name {
  font-weight: bold;
}
.item-product .product-information .old-price {
  color: #5d5d5d;
  text-decoration: line-through;
}
.item-product .product-information .sale-price {
  color: #ff2a4e;
  font-weight: bold;
}

@media print, (min-width: 768px) {
  .item-product .product-information {
    margin-top: 23px;
  }
  .item-product .price-product {
    margin-top: 9px;
  }
  .item-product .old-price {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .item-product .product-information {
    margin-top: 0.2rem;
  }
  .item-product .price-product {
    margin-top: 0.1rem;
  }
  .item-product .old-price {
    margin-right: 0.15rem;
  }
}
/* PAGES
 * ----------------------------------------------- */
.top-keyvisual .image-keyvisual {
  outline: none;
}
.top-keyvisual .image-keyvisual img {
  width: 100%;
  height: auto;
}

.top-keyvisual {
  position: relative;
}
.top-keyvisual .slick-dots {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  z-index: 9;
}
.top-keyvisual .slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  cursor: pointer;
}
.top-keyvisual .slick-dots li.slick-active {
  background-color: #fff;
}
.top-keyvisual .slick-dots button {
  display: none;
}

.top-advertise .wrap-advertise {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.top-advertise .image-advertise {
  display: block;
}
.top-advertise .image-advertise img {
  width: 100%;
  height: auto;
}

.section-top-collection .title-category {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  background: #000;
}
.section-top-collection .item-category a {
  display: block;
  font-weight: bold;
  color: #363636;
  letter-spacing: 0.03em;
}
.section-top-collection .item-category a:hover {
  background-color: rgba(255, 42, 78, 0.3);
  color: #fff;
}
.section-top-collection .item-category ~ .item-category {
  border-top: 1px solid #ececec;
}
.section-top-collection .list-collection {
  position: relative;
}
.section-top-collection .list-collection .item-product {
  outline: none;
}

.top-banner-collection .group-collection-banner {
  display: -webkit-flex;
  display: flex;
}
.top-banner-collection .wrap-new-collection {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.top-banner-collection .wrap-new-collection .new-collection a,
.top-banner-collection .wrap-new-collection .super-sale a {
  display: block;
}

.section-top-trend .wrapper-top-trend {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section-top-trend .trend-banner {
  display: block;
}

.top-blogs-instagram .wrapper {
  display: -webkit-flex;
  display: flex;
}
.top-blogs-instagram .title-blogs-instagram {
  font-weight: bold;
  letter-spacing: 0.2em;
}

.list-post-blogs .item-blogs {
  border-top: 1px solid #ccc;
}
.list-post-blogs .item-blogs a {
  display: -webkit-flex;
  display: flex;
  position: relative;
  font-weight: bold;
}
.list-post-blogs .item-blogs .text-blogs {
  color: #7d7d7d;
  line-height: 1.71;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.list-post-blogs .item-blogs .button-blogs {
  position: absolute;
}
.list-post-blogs .item-blogs .button-blogs img {
  width: 100%;
  height: auto;
}

.list-post-instagram {
  position: relative;
  display: block;
}

@media print, (min-width: 768px) {
  .top-advertise {
    margin-top: 30px;
  }
  .top-advertise .advertise-item {
    width: calc(33.33% - 30px);
    margin: 0 15px;
  }
  .top-advertise .wrap-advertise {
    margin: 0 -15px;
  }

  .section-top-collection {
    padding: 73px 0 49px;
  }
  .section-top-collection .is-english {
    margin-top: 15px;
  }
  .section-top-collection .sub-wrapper {
    display: -webkit-flex;
    display: flex;
    margin-top: 42px;
  }
  .section-top-collection .category-collection {
    width: 23%;
    flex-shrink: 0;
  }
  .section-top-collection .title-category {
    padding: 16px 10px 11px;
    font-size: 18px;
  }
  .section-top-collection .item-category a {
    padding: 19px 10px;
  }
  .section-top-collection .list-collection {
    width: calc(100% - 13px);
    overflow: hidden;
    margin-left: 13px;
  }
  .section-top-collection .list-collection .item-product {
    margin: 0 15px;
  }
  .section-top-collection .slick-track {
    margin-left: 16px;
  }
  .section-top-collection .slick-list {
    margin-left: -15px;
  }

  .top-banner-collection .group-collection-banner {
    margin: 0 -15px;
  }
  .top-banner-collection .image-banner {
    display: block;
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .top-banner-collection .wrap-new-collection {
    width: 50%;
    margin: 0;
  }
  .top-banner-collection .wrap-new-collection .new-collection {
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .top-banner-collection .wrap-new-collection .super-sale {
    width: calc(100% - 30px);
    margin: 30px 15px 0;
  }

  .section-top-trend {
    padding: 73px 0 75px;
  }
  .section-top-trend .is-english {
    margin-top: 15px;
  }
  .section-top-trend .trend-banner {
    margin-top: 39px;
  }
  .section-top-trend .wrapper-top-trend {
    margin: 46px -15px 0;
  }
  .section-top-trend .wrapper-top-trend li {
    width: calc(25% - 30px);
    margin: 0 15px 33px;
  }

  .top-blogs-instagram {
    padding-bottom: 58px;
  }
  .top-blogs-instagram .section-top-blogs {
    width: 50%;
    margin-right: 30px;
  }
  .top-blogs-instagram .title-blogs-instagram {
    font-size: 18px;
  }
  .top-blogs-instagram .section-top-instagram {
    width: 50%;
  }

  .list-post-blogs {
    margin-top: 39px;
  }
  .list-post-blogs .item-blogs a {
    padding: 21px 0 14px;
    font-size: 14px;
  }
  .list-post-blogs .item-blogs .button-blogs {
    width: 19px;
    height: 19px;
    margin-top: -2px;
    right: 0;
  }
  .list-post-blogs .item-blogs .time-blogs {
    width: 14%;
    margin-right: 35px;
  }
  .list-post-blogs .item-blogs .text-blogs {
    width: 68.5%;
    margin-top: -3px;
  }

  .list-post-instagram {
    margin: 39px -11px 0;
  }
  .list-post-instagram .item-post {
    margin-bottom: 20px;
  }
  .list-post-instagram .item-post,
  .list-post-instagram img,
  .list-post-instagram div,
  .list-post-instagram a {
    outline: none;
  }
  .list-post-instagram .slick-slide {
    margin: 0 11px;
  }

  .section-top-collection .slick-arrow,
  .list-post-instagram .slick-arrow {
    width: 24px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    text-indent: -99999px;
    background: url(../img/top/arrow_icon.png) no-repeat center/contain;
  }
  .section-top-collection .slick-arrow.slick-prev,
  .list-post-instagram .slick-arrow.slick-prev {
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 44px;
  }

  .section-top-collection .slick-arrow {
    bottom: 4%;
    right: 0;
  }

  .list-post-instagram .slick-arrow {
    bottom: -6%;
    right: 2%;
  }
}
@media only screen and (max-width: 767px) {
  .top-keyvisual .slick-dots {
    bottom: 0.1rem;
  }
  .top-keyvisual .slick-dots li {
    width: 0.1rem;
    height: 0.1rem;
    margin: 0 0.1rem;
  }
  .top-keyvisual .slick-dots button {
    display: none;
  }

  .top-advertise {
    margin: 0.1rem -0.05rem;
  }
  .top-advertise .advertise-item {
    width: calc(50% - .1rem);
    margin: 0 0.05rem 0.1rem;
  }
  .top-advertise .advertise-item.is-full {
    width: 100%;
  }

  .section-top-collection {
    padding: 0.4rem 0 0;
  }
  .section-top-collection .is-english {
    margin-top: 0.1rem;
  }
  .section-top-collection .sub-wrapper {
    margin-top: 0.3rem;
  }
  .section-top-collection .category-collection {
    width: 100%;
  }
  .section-top-collection .title-category {
    padding: 0.1rem 0.05rem;
    font-size: 0.2rem;
    text-align: center;
  }
  .section-top-collection .item-category a {
    padding: 0.15rem 0.1rem;
    font-size: 0.15rem;
  }
  .section-top-collection .list-collection {
    margin: 0.25rem -0.03rem 0;
  }
  .section-top-collection .list-collection .item-product {
    margin: 0 0.03rem;
  }

  .top-banner-collection {
    margin-top: 0.4rem;
  }
  .top-banner-collection .group-collection-banner {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .top-banner-collection .image-banner {
    width: 100%;
  }
  .top-banner-collection .wrap-new-collection {
    margin: 0.1rem -0.05rem 0;
  }
  .top-banner-collection .wrap-new-collection .new-collection {
    width: calc(50% - .1rem);
    margin: 0 0.05rem;
  }
  .top-banner-collection .wrap-new-collection .super-sale {
    width: 100%;
    margin: 0.1rem 0.05rem;
  }

  .section-top-trend {
    padding: 0.4rem 0;
  }
  .section-top-trend .is-english {
    margin-top: 0.1rem;
  }
  .section-top-trend .wrapper-top-trend {
    margin: 0.2rem -0.05rem;
  }
  .section-top-trend .wrapper-top-trend li {
    width: calc(50% - .1rem);
    margin: 0.1rem 0.05rem;
  }
  .section-top-trend .trend-banner {
    margin-top: 0.03rem;
  }

  .top-blogs-instagram .wrapper {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .top-blogs-instagram .section-top-blogs {
    width: 100%;
  }
  .top-blogs-instagram .title-blogs-instagram {
    font-size: 0.18rem;
  }
  .top-blogs-instagram .section-top-instagram {
    width: 100%;
    margin: 0.3rem 0 0.5rem;
  }

  .list-post-blogs {
    margin-top: 0.2rem;
  }
  .list-post-blogs .item-blogs a {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.15rem 0;
  }
  .list-post-blogs .item-blogs .time-blogs {
    width: 100%;
  }
  .list-post-blogs .item-blogs .text-blogs {
    width: 100%;
    margin-top: 0.1rem;
  }
  .list-post-blogs .item-blogs .button-blogs {
    width: 0.14rem;
    height: 0.14rem;
    left: 28%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0.14rem;
  }

  .list-post-instagram {
    margin: 0.2rem -0.03rem 0;
  }
  .list-post-instagram .item-post {
    margin-bottom: 0.1rem;
  }
  .list-post-instagram .slick-slide {
    margin: 0 0.03rem;
  }
}

/*# sourceMappingURL=style.css.map */
