@charset "utf-8"

.section-title
  text-align: center
  span
    display: block
  .is-japan
    font-weight: 500
  .is-english
    font-weight: bold
    

+desktop
  .section-title
    .is-english
      font-size: 26px
      letter-spacing: .2em
+mobile
  .section-title
    .is-english
      font-size: .24rem
      letter-spacing: .1em
