@charset "utf-8"

.item-product
  display: block
  .product-information
    .product-name
      font-weight: bold
    .old-price
      color: #5d5d5d
      text-decoration: line-through
    .sale-price
      color: #ff2a4e
      font-weight: bold
+desktop
  .item-product
    .product-information
      margin-top: 23px
    .price-product
      margin-top: 9px
    .old-price
      margin-right: 15px
+mobile
  .item-product
    .product-information
      margin-top: .2rem
    .price-product
      margin-top: .1rem
    .old-price
      margin-right: .15rem
