@charset "utf-8"

.top-keyvisual
  .image-keyvisual
    outline: none
    img
      width: 100%
      height: auto
.top-keyvisual
  position: relative
  .slick-dots
    display: flex
    position: absolute
    transform: translateX(-50%)
    left: 50%
    bottom: 20px
    z-index: 9    
    li
      width: 12px
      height: 12px
      margin: 0 10px
      border-radius: 50%
      background-color: rgba(#fff, .6)
      overflow: hidden
      cursor: pointer
      &.slick-active
        background-color: #fff
    button
      display: none
    
.top-advertise
  .wrap-advertise
    +display-flex
    +flex-wrap(wrap)
  .image-advertise
    display: block
    img
      width: 100%
      height: auto

.section-top-collection
  .title-category
    font-weight: bold
    letter-spacing: .1em
    color: #fff
    background: #000
  .item-category
    a
      display: block
      font-weight: bold
      color: #363636
      letter-spacing: .03em
    a:hover
      background-color: rgba(#ff2a4e, .3)
      color: #fff
    & ~ .item-category
      border-top: 1px solid #ececec
  .list-collection
    position: relative
    .item-product
      outline: none

.top-banner-collection
  .group-collection-banner
    +display-flex
  .wrap-new-collection
    +display-flex
    +flex-wrap(wrap)
    .new-collection,
    .super-sale
      a
        display: block

.section-top-trend
  .wrapper-top-trend
    +display-flex
    +flex-wrap(wrap)
  .trend-banner
    display: block

.top-blogs-instagram
  .wrapper
    +display-flex
  .title-blogs-instagram
    font-weight: bold
    letter-spacing: .2em
.list-post-blogs
  .item-blogs
    border-top: 1px solid #ccc
    a
      +display-flex
      position: relative
      font-weight: bold
    .text-blogs
      color: #7d7d7d
      line-height: 1.71
      display: -webkit-box
      -webkit-box-orient: vertical
      overflow: hidden
      -webkit-line-clamp: 2
    .button-blogs
      position: absolute
      img
        width: 100%
        height: auto
.list-post-instagram
  position: relative
  display: block

+desktop
  .top-advertise
    margin-top: 30px
    .advertise-item
      width: calc(33.33% - 30px)
      margin: 0 15px
    .wrap-advertise
      margin: 0 -15px
  .section-top-collection
    padding: 73px 0 49px
    .is-english
      margin-top: 15px
    .sub-wrapper
      +display-flex
      margin-top: 42px
    .category-collection
      width: 23%
      flex-shrink: 0
    .title-category
      padding: 16px 10px 11px
      font-size: 18px
    .item-category
      a
        padding: 19px 10px
    .list-collection
      width: calc(100% - 13px)
      overflow: hidden
      margin-left: 13px
      .item-product
        margin: 0 15px
    .slick-track
      margin-left: 16px
    .slick-list
      margin-left: -15px
  .top-banner-collection
    .group-collection-banner
      margin: 0 -15px
    .image-banner
      display: block
      width: calc(50% - 30px)
      margin: 0 15px
    .wrap-new-collection
      width: 50%
      margin: 0
      .new-collection
        width: calc(50% - 30px)
        margin: 0 15px
      .super-sale
        width: calc(100% - 30px)
        margin: 30px 15px 0
  .section-top-trend
    padding: 73px 0 75px
    .is-english
      margin-top: 15px
    .trend-banner
      margin-top: 39px
    .wrapper-top-trend
      margin: 46px -15px 0
      li
        width: calc(25% - 30px)
        margin: 0 15px 33px
  .top-blogs-instagram
    padding-bottom: 58px
    .section-top-blogs
      width: 50%
      margin-right: 30px
    .title-blogs-instagram
      font-size: 18px
    .section-top-instagram
      width: 50%
  .list-post-blogs
    margin-top: 39px
    .item-blogs
      a
        padding: 21px 0 14px
        font-size: 14px
      .button-blogs
        width: 19px
        height: 19px
        margin-top: -2px
        right: 0
      .time-blogs
        width: 14%
        margin-right: 35px
      .text-blogs
        width: 68.5%
        margin-top: -3px
  .list-post-instagram
    margin: 39px -11px 0
    .item-post
      margin-bottom: 20px
    .item-post,
    img,
    div,
    a
      outline: none
    .slick-slide
      margin: 0 11px
  .section-top-collection,
  .list-post-instagram
    .slick-arrow
      width: 24px
      height: 16px
      position: absolute
      cursor: pointer
      text-indent: -99999px
      background: url(../img/top/arrow_icon.png) no-repeat center/contain
    .slick-arrow.slick-prev
      +transform(scaleX(-1))
      margin-right: 44px
  .section-top-collection
    .slick-arrow
      bottom: 4%
      right: 0
  .list-post-instagram
    .slick-arrow
      bottom: -6%
      right: 2%

+mobile
  .top-keyvisual
    .slick-dots
      bottom: .1rem
      li
        width: .1rem
        height: .1rem
        margin: 0 .1rem
      button
        display: none
  .top-advertise
    margin: .1rem -.05rem
    .advertise-item
      width: calc(50% - .1rem)
      margin: 0 .05rem .1rem
      &.is-full
        width: 100%
  .section-top-collection
    padding: .4rem 0 0
    .is-english
      margin-top: .1rem
    .sub-wrapper
      margin-top: .3rem
    .category-collection
      width: 100%
    .title-category
      padding: .1rem .05rem
      font-size: .2rem
      text-align: center
    .item-category
      a
        padding: .15rem .1rem
        font-size: .15rem
    .list-collection
      margin: .25rem -.03rem 0
      .item-product
        margin: 0 .03rem
  .top-banner-collection
    margin-top: .4rem
    .group-collection-banner
      +flex-wrap(wrap)
    .image-banner
      width: 100%
    .wrap-new-collection
      margin: .1rem -.05rem 0
      .new-collection
        width: calc(50% - .1rem)
        margin: 0 .05rem
      .super-sale
        width: 100%
        margin: .1rem .05rem
  .section-top-trend
    padding: .4rem 0
    .is-english
      margin-top: .1rem
    .wrapper-top-trend
      margin: .2rem -.05rem
      li
        width: calc(50% - .1rem)
        margin: .1rem .05rem
    .trend-banner
      margin-top: .03rem
  .top-blogs-instagram
    .wrapper
      +flex-wrap(wrap)
    .section-top-blogs
      width: 100%
    .title-blogs-instagram
      font-size: .18rem
    .section-top-instagram
      width: 100%
      margin: .3rem 0 .5rem
  .list-post-blogs
    margin-top: .2rem
    .item-blogs
      a
        +flex-wrap(wrap)
        padding: .15rem 0
      .time-blogs
        width: 100%
      .text-blogs
        width: 100%
        margin-top: .1rem
      .button-blogs
        width: .14rem
        height: .14rem
        left: 28%
        +transform(translateX(-50%))
        top: .14rem
  .list-post-instagram
    margin: .2rem -.03rem 0
    .item-post
      margin-bottom: .1rem
    .slick-slide
      margin: 0 .03rem
