@charset "utf-8"

footer
  background: #000
  font-weight: 500
  color: #fff
  .list-footer
    +display-flex
    max-width: 700px
    margin: 0 auto
    a
      color: #fff
      font-weight: 500
  .wrapper-footer
    text-align: center
  .footer-logo
    display: inline-block
    img
      width: 100%
      height: auto
  .information-contact
    text-align: center
    line-height: 1.714
    a
      display: inline-block
      color: #fff
  .social-media
    +display-flex
    +justify-content(center)
    li
      margin: 0 10px
    a
      +display-flex
      +justify-content(center)
      +align-items(center)
      width: 36px
      height: 36px
      background-color: #727272
      border-radius: 50%
    a:hover
      &.is-facebook
        background-color: #4267b2
      &.is-pinterest
        background-color: #c8232c
      &.is-instagram
        background-color: #e1306c
      &.is-google
        background-color: #d34836
  .image-social
    img
      width: 100%
      height: auto
  .text-copyright
    display: inherit
    text-align: center
    color: #727272

+desktop
  footer
    font-size: 14px
    .wrapper
      padding-top: 53px
      padding-bottom: 53px
    .list-footer
      +justify-content(center)
      max-width: 700px
      li
        margin: 0 20px
      a
        text-decoration: underline
        font-size: 14px
    .footer-logo
      width: 136px
      margin: 44px auto 29px
    .information-contact
      a
        pointer-events: none
    .social-media
      margin: 61px 0 28px
+mobile
  footer
    font-size: .14rem
    .wrapper
      padding-top: .3rem
      padding-bottom: .3rem
    .list-footer
      +flex-wrap(wrap)
      li
        width: 100%
        border-bottom: 1px solid #fff
      a
        display: block
        padding: .2rem 0
        font-size: .14rem
    .footer-logo
      width: 1.36rem
      margin: .5rem auto .1rem
    .social-media
      margin: .3rem 0 .2rem