@charset "utf-8"

header
  position: relative
  .header-logo
    a
      display: block
    img
      width: 100%
      height: auto
  .list-index
    +display-flex
    a  
      display: block
      cursor: pointer
      position: relative
      .is-black,
      .is-pink
        position: absolute
        left: 0
        bottom: 0
      .is-black
        transition: opacity .3s
      .is-pink
        opacity: 0
        transition: opacity .3s
      img
        width: auto
        height: 100%
    .cart-icon
      position: relative
      &:after
        content: "2"
        +display-flex
        +justify-content(center)
        +align-items(center)
        background-color: #ffdd00
        border-radius: 50%
        position: absolute
        font-weight: 500
        color: #363636
  .form-search
    position: relative
  .input-search
    background-color: rgba(#f6f6f6, .2)
    border: 1px solid rgba(#ccc, .22)
    border-radius: 50px
    font-weight: 500
    color: #525263
  .button-search
    position: absolute
    top: 50%
    +transform(translateY(-50%))
    +desktop-ie
      top: 47%
    img
      display: block
      color: #363636
  .nav-menu
    +display-flex
    a
      display: inline-block
      font-weight: bold
      letter-spacing: .03em

+desktop
  header
    .wrapper
      padding-top: 30px
    .wrapper-up
      +display-flex
      +justify-content(space-between)
    .header-logo
      +order(2)
      margin-top: 6px
      a
        width: 152px
    .list-index
      +order(3)
      margin: 9px 10px 0 62px
      a
        height: 18px
        width: 20px
        &:hover
          .is-black
            opacity: 0
          .is-pink
            opacity: 1
      .cart-icon
        &:after
          width: 18px
          height: 18px
          top: -8px
          right: -10px
          font-size: 12px
          +desktop-ie
            padding-top: 4px
      li
        margin-left: 27px
    .form-search
      +order(1)
    .input-search
      width: 260px
      padding: 7px 35px 7px 20px
      +desktop-ie
        padding: 9px 35px 5px 35px
      font-size: 12px
    .button-search
      width: 16px
      right: 15px
    .header-nav
      max-width: 494px
      margin: 42px auto 27px
    .nav-menu
      +justify-content(space-between)

@supports (-moz-appearance:none) // firefox
  header
    .input-search
      padding: 9px 35px 9px 20px
    .button-search
      top: 43%

+mobile
  header
    .wrapper
      padding: .3rem .2rem
    .wrapper-up
      position: relative
      z-index: 999
    .header-logo
      a
        width: 1.52rem
    .list-index
      +justify-content(flex-end)
      a
        height: .18rem
        width: .2rem
      .cart-icon
        &:after
          width: .18rem
          height: .18rem
          top: -.08rem
          right: -.1rem
          font-size: .12rem
      li
        margin: 0 .16rem
    .button-menu
      width: .32rem
      height: .32rem
      position: absolute
      margin-top: -.34rem
      right: 0
      span
        width: .32rem
        height: .02rem
        background: #000
        position: absolute
        +transition(transform .15s)
        &:first-child
          top: .05rem
        &:nth-child(2)
          top: 50%
          transform: translateY(-50%)
        &:last-child
          bottom: .05rem
    .input-search
      width: 100%
      padding: .07rem .35rem .07rem .2rem
      font-size: .12rem
    .button-search
      width: .16rem
      right: .11rem
    .form-search
      width: 100%
      margin: .2rem 0
    .header-nav
      display: none
      position: fixed
      z-index: 998
      top: 0
      padding: 1.8rem .2rem 0
      left: 0
      width: 100%
      height: 100%
      background-color: #fff
      overflow: auto
    .nav-menu
      +display-flex
      +flex-wrap(wrap)
      a
        padding: .2rem 0
        font-size: .16rem
      .nav-item
        width: 100%
        border-bottom: 1px solid #ccc
  header.is-active
    .button-menu
      span
        &:first-child
          top: 50%
          +transform(translateY(-50%) rotate(45deg))
        &:nth-child(2)
          +transform(translate3d(15px, -3px, 0))
          opacity: 0
        &:last-child
          top: 50%
          +transform(translateY(-50%) rotate(-45deg))
    .header-nav
      display: block