mixin itemProduct(link, imageSource, imageAlt, productName, logic, salePrice, oldPrice)
  a.trans.item-product(href!=link)
    figure.image-product
      img(src=path+imageSource alt!=imageAlt)
    .product-information
      h3.product-name!=productName
      p.price-product
        if logic == true
          span.old-price!=oldPrice
          span.sale-price!=salePrice
        else
          span.sale-price!=salePrice