extends _layouts/default

block vars
  -title        = 'We-love-pinky.com | The luxury clothes by Pinky'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'
block schema
  // SCHEME TAG
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "We-love-pinky.com | The luxury clothes by Pinky",
      "url": "https://we-love-pinky.com",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "(052) 611-5711",
          "contactType": "Customer service"
        }
      ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "575 通りの名前、東京、日本",
        "addressCountry": "Japan"
      }
    }
block container
  //- <div class="top-keyvisual">
  //-   <div class="wrapper">
  //-     <ul class="js-slick-slider">
  //-       <li class="image-keyvisual"><img src="./img/top/keyvisual_img_01.png" alt="MID SEASON SALE! 40% OFF"></li>
  //-     </ul>
  //-   </div>
  //- </div>
  .top-keyvisual
    .wrapper
      ul.js-slick-slider
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
        li.image-keyvisual
          img(src=path+"/img/top/keyvisual_img_01.png", alt="MID SEASON SALE! 40% OFF")
  .top-advertise
    .wrapper
      ul.wrap-advertise
        li.advertise-item
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_01.png", alt="Denim")
        li.advertise-item
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_02.png", alt="BEACH ESSENTIALS UP TO 40% OFF")
        li.advertise-item.is-full
          a.trans.image-advertise(href="#")
            img(src=path+"/img/top/advertise_img_03.png", alt="be yourself")
  article.section-top-collection
    .wrapper
      h2.section-title
        span.is-japan サンプルテキスト
        span.is-english NEW COLLECTION
      .sub-wrapper
        aside.category-collection
          h3.title-category CATEGORY
          ul.list-category
            li.item-category
              a.trans(href="#") ルーキー
            li.item-category
              a.trans(href="#") ベスト・セラー
            li.item-category
              a.trans(href="#") トップス
            li.item-category
              a.trans(href="#") 底
            li.item-category
              a.trans(href="#") スニーカー
            li.item-category
              a.trans(href="#") アクセサリー
            li.item-category
              a.trans(href="#") バッグ
            li.item-category
              a.trans(href="#") セールオフ
        .list-collection.js-slider-collection
          +itemProduct("#","/img/top/collection_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
          +itemProduct("#","/img/top/collection_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
  .top-banner-collection
    .wrapper
      .group-collection-banner
        a.trans.image-banner(href="#")
          img(src=path+"/img/top/collection_banner_01.png", alt="HIGH QUALITY FASHION 30% OFF")
        ul.wrap-new-collection
          li.new-collection
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_02.png", alt="New Collecion Awesome Picks")
          li.new-collection
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_03.png", alt="new collection")
          li.super-sale
            a.trans(href="#")
              img(src=path+"/img/top/collection_banner_04.png", alt="DON'T MISS IT! SUPER SALE DISCOUNT 50% OFF")
  section.section-top-trend
    .wrapper
      h2.section-title
        span.is-japan サンプルテキスト
        span.is-english NEW TREND
      ul.wrapper-top-trend
        li
          +itemProduct("#", "/img/top/trend_img_01.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_02.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_03.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_04.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_05.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_06.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_07.png","サンプル商品","サンプル商品",false,"1,203&yen;")
        li
          +itemProduct("#","/img/top/trend_img_08.png","サンプル商品","サンプル商品",false,"1,203&yen;")
      a.trans.trend-banner(href="#")
        img(src=path+"/img/top/trend_banner.png", alt="BEST SELLING Women's shoes")
  .top-blogs-instagram
    .wrapper
      section.section-top-blogs
        h2.title-blogs-instagram BLOGS
        ul.list-post-blogs
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-29") 2020/05/29
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-27") 2020/05/27
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-27") 2020/05/27
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
          li.item-blogs
            a.trans(href="#")
              time.time-blogs(datetime="2020-05-25") 2020/05/25
              p.text-blogs NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
              .button-blogs
                img(src=path+"/img/top/accordion_icon.png", alt="accordion")
      section.section-top-instagram
        h2.title-blogs-instagram INSTAGRAM
        span#instagram.list-post-instagram.js-slider-instagram