footer
  .wrapper
    ul.list-footer
      li
        a.trans(href="#") 当サイトについて
      li
        a.trans(href=path+"/privacy/") プライバシーポリシー
      li
        a.trans(href="#") 特定商取引法に基づく表記
      li
        a.trans(href="#") お問い合わせ
    .wrapper-footer
      a.trans.footer-logo(href=path+"/")
        img(src=path+"/img/top/footer_logo.png" alt="DORA'")
      .information-contact
        p
          a.trans.telephone(href="tel:0526115711") (052) 611-5711
        p
          a.trans.email(href="mailto:company@domain.com") company@domain.com
        address.address-contact 575 通りの名前、東京、日本
    ul.social-media
      li
        a.is-facebook.trans(href="#")
          figure.image-social
            img(src=path+"/img/top/facebook_icon.svg" alt="facebook")
      li
        a.is-pinterest.trans(href="#")
          figure.image-social
            img(src=path+"/img/top/pinterest_icon.svg" alt="pinterest")
      li
        a.is-instagram.trans(href="#")
          figure.image-social
            img(src=path+"/img/top/instagram_icon.svg" alt="instagram")
      li
        a.is-google.trans(href="#")
          figure.image-social
            img(src=path+"/img/top/google_icon.svg" alt="google plus")
    small.text-copyright Copyright (c) EC-CUBE DEMO SHOP. 
      br.sm
      | All Rights Reserved.
        

    
      
