header
  .wrapper
    .wrapper-up
      
      if(pageID='top')
        h1.header-logo
          a.trans(href=path+"/index.html")
            img(src=path+"/img/top/header_logo.png" alt="DORA'")
      else
        .header-logo
          a.trans(href=path+"/index.html")
            img(src=path+"/img/top/header_logo.png" alt="DORA'")
      .button-menu.js-button-menu.sm
        span
        span
        span
      form.form-search
        input.input-search(type="text" name="search" placeholder="キーワードを入力")
        button.button-search
          img(src=path+"/img/top/search_icon.png", alt="search")
      ul.list-index
        li
          a(href="#")
            img.is-black(src=path+"/img/top/user_icon.png", alt="user")
            img.is-pink(src=path+"/img/top/user_icon_pink.png", alt="user")
        li
          a(href="#")
            img.is-black(src=path+"/img/top/like_icon.png", alt="like")
            img.is-pink(src=path+"/img/top/like_icon_pink.png", alt="like")
        li
          a(href="#")
            img.is-black(src=path+"/img/top/lock_icon.png", alt="lock")
            img.is-pink(src=path+"/img/top/lock_icon_pink.png", alt="lock")
        li
          a.cart-icon(href="#")
            img.is-black(src=path+"/img/top/cart_icon.png", alt="cart")
            img.is-pink(src=path+"/img/top/cart_icon_pink.png", alt="cart")
    nav.header-nav
      ul.nav-menu
        li.nav-item
          a.trans(href="#") ホームページ
        li.nav-item
          a.trans(href="#") 製品
        li.nav-item
          a.trans(href="#") ブログ
        li.nav-item
          a.trans(href="#") 連絡先
        li.nav-item
          a.trans(href="#") カテゴリー